<div class="my-4 pb-3 border-bottom">
    <p class="text-center h2">
        Best users
    </p>

    <ul class="list-unstyled align-items">
        <!-- TODO: Циклы, подстановки, цвет, отступы -->
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Consectetur adipiscing elit</li>
        <li>Integer molestie</li>
        <li>Lorem at massa</li>
        <li>Facilisis in pretium</li>
        <li>Nisl aliquet</li>
        <li>Nulla volutpat</li>
        <li>Aliquam velit</li>
        <li>Phasellus iaculis neque</li>
    </ul>
</div>