<div class="my-4 pb-3 border-bottom">
    <p class="text-center h2">
        Popular tags
    </p>

    <ul class="list-inline">
        <!-- TODO: Циклы, подстановки, цвет, отступы -->
        <li class="list-inline-item">Lorem ipsum</li>
        <li class="list-inline-item">Dolor sit amet</li>
        <li class="list-inline-item">Consectetur adipiscing elit</li>
        <li class="list-inline-item">Integer molestie</li>
        <li class="list-inline-item">Lorem at massa</li>
        <li class="list-inline-item">Facilisis in pretium</li>
        <li class="list-inline-item">Nisl aliquet</li>
        <li class="list-inline-item">Nulla volutpat</li>
        <li class="list-inline-item">Aliquam velit</li>
        <li class="list-inline-item">Phasellus iaculis neque</li>
    </ul>
</div>