<div class="question-card border border-light rounded-left pt-3 pl-3 pr-3 pb-1 mb-4">
    <div class="row align-items-center">

        <!-- TODO: Можно ли обойтись без колонок? Криво меняется -->
        <div class="col-3 col-lg-2 col-xl-2">

            <!-- Avatar -->
            <a class="mt-5" href="#">
                <!-- TODO: Относительный размер, подгружать нужного пользователя, центровка аватара -->
                <img src="/static/img/avatar_user_default_contact_profile_male-512.png" width="60" alt="">
            </a>

            <!-- Rating -->
            <!-- TODO: Автоматический отступ от аватарки, как отвязать от аватарки? Автоматический отступ внутри границы, центровка количества лайков-->
            <div class="content-block border border-dark rounded mt-3">
                <div class="row px-1 py-1">
                    <div class="col-3 text m-2">555</div>
                    <button class="col-2 btn btn-sm btn-dark ml-auto mr-1" type="submit">&lt;/3</button>
                    <button class="col-2 btn btn-sm btn-danger mr-3" type="submit"><3</button>
                </div>
            </div>

        </div>

        <!-- Question -->
        <div class="col-9 col-lg-10 col-xl-10">

            <!-- Title -->
            <p class="text h3">
                <a href="#">Question</a>
            </p>

            <!-- Question info -->
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit
                anim id est laborum
            </p>

            <!-- TODO: Сдвиг текста влево??? -->
            <div class="row">

                <!-- Answer link -->
                <p class="cols-4 text ml-3">
                    <a href="#">Answer</a>
                </p>

                <!-- Tags -->
                <p class="cols-8 text ml-auto mr-3">
                    Tags: <a href="#">Tag1</a>, <a href="#">Tag2</a>
                </p>
            </div>
        </div>
    </div>
</div>