.main-navbar {
    border-bottom: 1px solid #969696 !important;
    background-color: #f9f9f9 !important;
}

.question-card {
    background-color: #e2e2e2;
}

.question-card:hover {
    background-color: rgb(187, 187, 187);
}

.content-block {
    background-color: #ffffff
}