.main-navbar {
    border-bottom: 1px solid #969696 !important;
    background-color: #f9f9f9 !important;
}

.question-card {
    background-color: #e2e2e2;
}

.question-card:hover {
    background-color: #bbbbbb;
}

.content-block {
    background-color: #ffffff;
}

.right-menu-block {
    background-color: #fafafa;
    height: 100%;
    position: fixed;
    right: 0;
}

.avatar-min {
    width: 60px;
    height: 60px;
}

.avatar-mid {
    width: 70px;
    height: 70px;
}

.avatar-big {
    width: 120px;
    height: 120px;
}

.avatar-mid img, .avatar-big img {
    width: 100%;
    height: 100%;
}

.rating-btn {
    width: 30px;
    height: 30px;
}

a {
    color: #17a2b8;
}

a:hover {
    color: #0b2e13;
    text-decoration: none;
}