{% load static %}

<nav class="main-navbar navbar navbar-expand-lg navbar-light border-bottom sticky-top">
    <!-- Name -->
    <a class="navbar-brand text-dark" href="{% url 'index' %}">Æ AskEvdokimov</a>

    <!-- Search -->
    <form class="form-inline my-auto mr-auto">
        <input class="form-control mr-2 col-sm-9 col-5" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-sm btn-outline-dark" type="submit">Search</button>
    </form>

    <!-- Collapse button -->
    <button class="navbar-toggler position-fixed" style="right: 2%; top: 8px" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Right menu part -->

    <div class="collapse navbar-collapse ml-0" id="navbarSupportedContent">

        {% if user.is_authenticated %}

            <ul class="navbar-nav ml-auto">

                <!-- Ask button -->
                <li class="nav-item my-lg-auto mb-2">
                    <a class="btn btn-success mr-4 px-4" href="#" role="button">Ask!</a>
                </li>

                <!-- Avatar -->
                <li class="nav-item my-lg-auto avatar-min">
                    <a href="#">
                        <img src="{% static 'img/default_avatar.svg' %}" alt="">
                    </a>
                </li>

                <!-- User actions -->
                <li class="nav-item my-lg-auto my-auto">
                    <a class="nav-link active mb-n2" href="#">{{ user.username }}</a>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <a class="nav-link " href="{% url 'user' %}">Settings</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link" href="#">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

        {% else %}

            <ul class="navbar-nav ml-auto my-auto">

                <!-- User actions -->
                <li class="nav-item">
                    <a class="nav-link active" href="#">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Registration</a>
                </li>
            </ul>

        {% endif %}
    </div>

</nav>