<!-- TODO: Перемещение вместе со страницей? -->

<nav class="main-navbar navbar navbar-expand-lg navbar-light border-bottom">
    <!-- Name -->
    <a class="navbar-brand text-dark" href="{% url 'index' %}">Æ AskEvdokimov</a>

    <!-- Search -->
    <!-- TODO: Некрасиво сдвигается при максимальном уменьшении -->
    <form class="form-inline my-2 my-lg-0 mr-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-sm btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
    </form>

    <!-- Collapse button -->
    <!-- TODO: Как определять когда нужно делать collapse? -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Right menu part -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- TODO: Как отцентровать относительно остальных элементов? Классы элементов - элементы списка или сами элементы? -->
        <!-- TODO: Независимые параметры элементов в зависимости от collapse -->
        <ul class="align-items-center justify-content-start navbar-nav ml-auto">

            <!-- Ask button -->
            <li class="nav-item">
                <a class="btn btn-success mr-4 px-4" href="#" role="button">Ask!</a>
            </li>

            <!-- Avatar -->
            <li class="nav-item mr-2">
                <a href="#">
                    <!-- TODO: Относительный размер -->
                    <img src="/static/img/avatar_user_default_contact_profile_male-512.png" width=  "60" alt="">
                </a>
            </li>

            <!-- User actions -->
            <li class="nav-item">
                <a class="nav-link active" href="#">User</a>
                <div class="row">
                    <div class="col-sm-6">
                        <a class="nav-link" href="#">Settings</a>
                    </div>
                    <div class="col-sm-6">
                        <a class="nav-link" href="#">Logout</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>