<!-- Question cards -->
{% for question in questions %}

{% include "include/question/question_card.html" with question=question %}

{% endfor %}


<!-- TODO: Пагинация и функция пагинации -->
<!-- Pagination -->
<ul class="list-inline">
    <li class="list-inline-item">
        <button class="col btn btn-sm btn-outline-dark" type="submit">1</button>
    </li>
    <li class="list-inline-item">
        <button class="col btn btn-sm btn-outline-dark" type="submit">2</button>
    </li>
    <li class="list-inline-item">
        <button class="col btn btn-sm btn-outline-dark" type="submit">3</button>
    </li>
    <li class="list-inline-item">
        <button class="col btn btn-sm btn-outline-dark" type="submit">4</button>
    </li>
    <li class="list-inline-item">
        <button class="col btn btn-sm btn-outline-dark" type="submit">5</button>
    </li>
    <li class="list-inline-item">
        <button class="col btn btn-sm btn-outline-dark" type="submit">6</button>
    </li>
    <li class="list-inline-item">
        <button class="col btn btn-sm btn-outline-dark" type="submit">7</button>
    </li>
    <li class="list-inline-item">
        <button class="col btn btn-sm btn-outline-dark" type="submit">8</button>
    </li>
    <li class="list-inline-item">
        <button class="col btn btn-sm btn-outline-dark" type="submit">...</button>
    </li>
    <li class="list-inline-item">
        <button class="col btn btn-sm btn-outline-dark" type="submit">100000</button>
    </li>
</ul>
