{% extends 'include/question/components/card_layout.html' %}

{% block card_content %}

    <!-- Title -->
    <p class="text h3">
        <a href="{% url 'question' question_id=question.id %}">{{ question.title }}</a>
    </p>

    <!-- Question info -->
    <p class="text-break">{{ question.text }}</p>

    <div class="row">

        <!-- Answer link -->
        <p class="cols-4 text ml-3">
            <a href="{% url 'question' question_id=question.id %}">Answer</a>
        </p>

        <!-- Tags -->
        <p class="cols-8 text ml-auto mr-3">
            Tags:
            {% for tag in question.tags %}
                <a href="{% url 'tag' tag_name=tag %}">{{ tag }}</a>
            {% endfor %}
        </p>
    </div>

{% endblock %}