{% extends 'include/base.html' %}

{% block content %}

    <!-- Title -->
    <p class="h1 mb-3">
        New question
    </p>

    <form>

        <!-- Question title -->
        <div class="form-group">
            <label for="question_title">Question title</label>
            <input class="form-control" type="text" placeholder="Title" id="question_title"/>
        </div>


        <!-- Question text -->
        <div class="form-group">
            <label for="question_text">Enter your question here</label>
            <textarea class="form-control" placeholder="Text" id="question_text" rows="5"></textarea>
        </div>


        <!-- Question tags -->
        <div class="form-group">
            <label for="question_tags">Enter your tags here</label>
            <input class="form-control" type="text" placeholder="Tags" id="question_tags"/>
        </div>


        <!-- Submit question button -->
        <div class="form-group">
            <button class="btn btn-outline-success" type="submit">Ask</button>
        </div>
    </form>

{% endblock %}