{% extends 'include/base.html' %}

{% block content %}

    <!-- Questions sort -->
    <div class="inline mb-4">
        {% if tag %}

            <p class="h1 mb-3">
                {{ tag }}
            </p>

        {% else %}

            {% if hot %}

                <span class="h5"><a href="{% url 'index' %}">New questions</a></span>
                <span class="h1"><a href="{% url 'hot' %}">Hot questions</a></span>

            {% else %}

                <span class="h1"><a href="{% url 'index' %}">New questions</a></span>
                <span class="h5"><a href="{% url 'hot' %}">Hot questions</a></span>

            {% endif %}

        {% endif %}
    </div>

    {% include 'include/questions/questions_layout.html' %}

{% endblock %}