{% extends 'include/base.html' %}

{% block content %}
    <!-- Questions sort -->
    <!-- TODO: ссылки, переключатель, можно ли обойтись без списков? -->
    <div class="inline mb-4">
        <span class=" h1">New questions</span>
        <span class="">Hot questions</span>
    </div>

    <!-- todo: Поменять на кнопки -->
   {% comment %} <div class="btn-group mb-4" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary">New questions</button>
        <button type="button" class="btn btn-secondary">Hot questions</button>
        <button type="button" class="btn btn-secondary">Right</button>
    </div>{% endcomment %}

    {% include 'include/questions/questions_layout.html' %}

{% endblock %}