{% extends 'include/base.html' %}

{% block content %}

    <!-- Title -->
    <p class="h1 mb-3">
        Log in
    </p>

    <form>

        <!-- Title -->
        <div class="form-group">
            <label for="Email">Email</label>
            <input type="email" class="form-control col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3" id="Email" placeholder="name@example.com">
        </div>

        <!-- Title -->
        <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3" id="Password" placeholder="Password">
        </div>

        <!-- Login button -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Log in</button>
        </div>
    </form>

{% endblock %}