{% extends 'include/base.html' %}

{% load static %}

{% block content %}

    <div class="media border-bottom py-3">

        <div class="my-auto mr-3 align-self-center justify-content-center">

            <!-- Avatar -->
            <a class="d-flex justify-content-center" href="#">
                <div class="avatar-big">
                    <img src="{% static 'img/default_avatar.svg' %}" alt="">
                </div>
            </a>

            <!-- Rating -->
            {% include 'include/question/components/rating.html' %}

        </div>

        <div class="media-body ml-4 mr-4">

            <!-- Title -->
            <p class="text h2">Question title</p>

            <!-- Question info -->
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore
                et
                dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip
                ex
                ea
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore
                eu
                fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt
                mollit
                anim id est laborum
            </p>

            <!-- Tags -->
            <p>
                Tags: <a href="#">Tag1</a>, <a href="#">Tag2</a>
            </p>

        </div>

    </div>

    <!-- Answers -->
    <div class="border-bottom py-3">
        {% include 'include/question/answer_card.html' %}
        {% include 'include/question/answer_card.html' %}
        {% include 'include/question/answer_card.html' %}
    </div>

    <!-- Answer -->
    <form class="mt-3">
        <div class="form-group">
            <textarea class="form-control" placeholder="Enter your answer here..." rows="5"></textarea>
            <button class="btn btn-outline-success mt-3" type="submit">Answer</button>
        </div>
    </form>

{% endblock %}