{% extends 'include/base.html' %}

<!-- TODO: Подхватывать данные7 -->

{% block content %}

    <!-- Title -->
    <p class="h1 mb-3">
        Username
    </p>

    <form>

        <!-- Name -->
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3" type="text" placeholder="Your name"
                   id="name"/>
        </div>

        <!-- Nickname -->
        <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3" type="text"
                   placeholder="Your username" id="username" readonly/>
        </div>

        <!-- Email -->
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3" id="email"
                   placeholder="name@example.com">
        </div>

        <!-- Current password -->
        <div class="form-group">
            <label for="Current password">Current password</label>
            <input type="password" class="form-control col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3" id="Current password"
                   placeholder="Current password">
        </div>

        <!-- New password -->
        <div class="form-group">
            <label for="New password">New password</label>
            <input type="password" class="form-control col-7 col-sm-6 col-md-5 col-lg-4 col-xl-3" id="Password"
                   placeholder="New password">
        </div>

        <!-- Avatar upload -->
        <div class="form-group">
            <label for="avatar">
                <img src="/static/img/default_avatar.svg" width="60" alt="">
                <br>
                Upload avatar
            </label>
            <input type="file" class="form-control-file" id="avatar">
        </div>

        <!-- Register button -->
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>

    </form>

{% endblock %}