{% load static %}

<div class="question-card media border-0 rounded-left pt-3 pl-3 pr-3 pb-1 mb-4">

    <div class="my-auto mr-3 align-self-center justify-content-center">

        <!-- Avatar -->
        <a class="d-flex justify-content-center" href="#">
            <div class="avatar-mid">
                <img src="{% static 'img/default_avatar.svg' %}" alt="">
            </div>
        </a>

        <!-- Rating -->
        {% include 'include/question/components/rating.html' %}

    </div>

    <!-- Question -->
    <div class="align-self-center media-body my-2 pl-3">
        {% block card_content %}{% endblock %}
    </div>

</div>