{% extends 'include/utility/components/utility_base.html' %}

{% block title %}Best users{% endblock %}

{% block utility_content %}
<!-- TODO: Циклы, подстановки, цвет, отступы -->
    <li>Lorem ipsum</li>
    <li>Dolor sit amet</li>
    <li>Consectetur adipiscing elit</li>
    <li>Integer molestie</li>
    <li>Lorem at massa</li>
    <li>Facilisis in pretium</li>
    <li>Nisl aliquet</li>
    <li>Nulla volutpat</li>
    <li>Aliquam velit</li>
    <li>Phasellus iaculis neque</li>
{% endblock %}