{% extends 'include/utility/components/utility_base.html' %}

{% block title %}Best users{% endblock %}

{% block utility_content %}
    <li><a href="#">Lorem ipsum</a></li>
    <li><a href="#">Dolor sit amet</a></li>
    <li><a href="#">Consectetur adipiscing elit</a></li>
    <li><a href="#">Integer molestie</a></li>
    <li><a href="#">Lorem at massa</a></li>
    <li><a href="#">Facilisis in pretium</a></li>
    <li><a href="#">Nisl aliquet</a></li>
    <li><a href="#">Nulla volutpat</a></li>
    <li><a href="#">Aliquam velit</a></li>
    <li><a href="#">Phasellus iaculis neque</a></li>
{% endblock %}