{% extends 'include/utility/components/utility_base.html' %}

{% block title %}Popular tags{% endblock %}

{% block utility_content %}
    <li class="list-inline-item"><a href="#">Lorem ipsum</a></li>
    <li class="list-inline-item"><a href="#">Dolor sit amet</a></li>
    <li class="list-inline-item"><a href="#">Consectetur adipiscing elit</a></li>
    <li class="list-inline-item"><a href="#">Integer molestie</a></li>
    <li class="list-inline-item"><a href="#">Lorem at massa</a></li>
    <li class="list-inline-item"><a href="#">Facilisis in pretium</a></li>
    <li class="list-inline-item"><a href="#">Nisl aliquet</a></li>
    <li class="list-inline-item"><a href="#">Nulla volutpat</a></li>
    <li class="list-inline-item"><a href="#">Aliquam velit</a></li>
    <li class="list-inline-item"><a href="#">Phasellus iaculis neque</a></li>
{% endblock %}
